security:
    encoders:
        App\Entity\Common\User:
            algorithm: bcrypt
    providers:
        app_db_provider:
            entity:
                class: App\Entity\Common\User
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            anonymous: ~
            form_login: 
                login_path: login
                check_path: login
            provider: app_db_provider
            logout:
                path: /logout
                target: /
    access_control:
        - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/, roles: ROLE_USER }
